<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<script type="text/javascript" src="//js.users.51.la/20345713.js"></script>
<script>
    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        } else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
<script type="text/javascript" src="/static/movie/js/jquery.stem.js"></script>


<span style="display: none" class="mac_hits hits" data-mid="1" data-id="8429" data-type="hits"></span>
<span style="display: none" class="mac_hits hits_day" data-mid="1" data-id="8429"  data-type="hits_day"></span>
<span style="display: none" class="mac_hits hits_week" data-mid="1" data-id="8429"  data-type="hits_week"></span>
<span style="display: none" class="mac_hits hits_month" data-mid="1" data-id="8429"  data-type="hits_month"></span>
<span style="display:none" class="mac_ulog_set" alt="设置内容页浏览记录" data-type="1" data-mid="1" data-id="8429" data-sid="0"
      data-nid="0"></span>
<span style="display:none" class="mac_history_set" alt="设置History历史记录" data-name="秘密商店"
      data-pic="https://rpg.pic-imges.com/pic/upload/vod/2018-03/152169563514.jpg"></span>

<div class="foot clearfix">
    <ul class="extra clearfix">
        <li>
            <a class="backtop" href="javascript:scroll(0,0)" title="返回顶部"><span class="top_ico"><i class="iconfont">&#xe628;</i></span></a>
        </li>
        <li style="display: none;">
            <a class="open-share" href="javascript:void(0)" title="分享"><span class="share_ico"><i class="iconfont">&#xe615;</i></span></a>
        </li>
        <li class="hidden_xs">
            <a class="mobil_q" href="javascript:void(0)" title="手机访问"><span class="m_ico"><i
                    class="iconfont">&#xe620;</i></span></a>
            <div class="sideslip">
                <div class="cans"></div>
                <div class="col_pd">
                    <p class="qrcode"></p>
                    <p class="text_center">扫码用手机访问</p>
                </div>
            </div>
        </li>
    </ul>
    <div><a href="/">返回首页</a>&nbsp;<span class="split_line"></span>&nbsp;<a href="/gbook.html">留言反馈</a></div>
    <div class="hidden_xs fo_t">
        <p><i class="iconfont">&#xe635;</i>本网站提供的最新电视剧和电影资源均从互联网收集来而,
            本站只提供WEB页面服务，本站不存储、不制作任何视频，不承担任何由于内容的合法性及健康性所引起的争议和法律责任。</p>
        <p>若本站收录内容侵犯了您的权益，请给网页底部邮箱地址来信，我们会及时处理和回复，谢谢！</p>
        <p>Copyright <span class="fontArial"> <a href="http://www.bestmov.net/">百思电影网www.bestmov.net</a>联系邮箱：2460164544@qq.com&nbsp;我们将第一时间处理。
        </p></div>
    <div class="hidden_mb fo_t">
        <p><i class="iconfont">&#xe635;</i>本网站提供的最新电视剧和电影资源均从互联网收集来而,
            本站只提供WEB页面服务，本站不存储、不制作任何视频，不承担任何由于内容的合法性及健康性所引起的争议和法律责任。</p>
        <p>不若本站收录内容侵犯了您的权益，请给网页底部邮箱地址来信，我们会及时处理和回复，谢谢！</p>
        <p> Copyright <span class="fontArial"> <a href="http://www.bestmov.net/">百思电影网www.bestmov.net</a>联系邮箱：2460164544@qq.com&nbsp;我们将第一时间处理。
        </p>
    </div>
    <div class="map_nav">
        <a href="/rss.xml" target="_blank">RSS订阅</a>
        <span class="split_line"></span>
        <a href="/rss/baidu.xml" target="_blank">百度蜘蛛</a>
        <span class="split_line"></span>
        <a href="/rss/google.xml" target="_blank">谷歌地图</a>
        <span class="split_line"></span>
        <a href="/rss/sm.xml" target="_blank">神马爬虫</a>
        <span class="split_line hidden_xs"></span>
        <a class="hidden_xs" href="/rss/sogou.xml" target="_blank">搜狗蜘蛛</a>
        <span class="split_line hidden_xs"></span>
        <a class="hidden_xs" href="/rss/so.xml" target="_blank">奇虎地图</a>
        <span class="split_line hidden_xs"></span>
        <a class="hidden_xs" href="/rss/bing.xml" target="_blank">必应爬虫</a>
    </div>
</div>


<div class="history_pop "></div>
<div class="hide">
    <script type="text/javascript" src="https://s4.cnzz.com/z_stat.php?id=1278065621&web_id=1278065621"></script>
</div>
<div id="show" style="display: none;">
    <div class="copy-tip">
        <p>耶～～复制成功</p>
    </div>
</div>
<div class="am-share">
    <input class="share-none" value="211160679" id="app_key">
    <div class="am-share-url">
        <span class="title_span">复制下方链接，去粘贴给好友吧：</span>
        <span id="short" class="url_span">秘密商店--百思电影网_最新电影_免费电影_高清电影-</span>
    </div>
    <div class="am-share-footer">
        <span class="share_btn">取消</span>
        <span id="btn" class="copy_btn" data-clipboard-action="copy" data-clipboard-target="#short">一键复制</span>
    </div>
</div>
<div class="jq_content" style="display: none;">
    <input id="wx_name" value="正在筹备中">
    <!--<input id="wx_qrcode" value="https://www.9218tv.com/static/movie/img/ewm.jpg">-->
    <!--<input id="zans_qrcode" value="https://www.9218tv.com/static/movie/img/dsm.jpg">-->
    <input id="shareurl" value="">
</div>
<script type="text/javascript" src="/static/movie/js/scroll.stem.js"></script>

<script type="text/javascript" src="/static/movie/js/home.js"></script>
</body>
</html>